[Desktop Entry]
Type=Application
Name=Borderless Fullscreen
Comment=Force a windowed application into borderless fullscreen mode
Exec=/usr/local/share/applications/borderless-fullscreen.sh
Icon=/usr/share/icons/icon-bf.png
Terminal=false
Categories=Utility;

